<div id="home">
	<div class="content-container">
		
		<section id="slogan">
			<h1>Turn your photo <br/> in to a painting.</h1>
			<img src="dist/imgs/collarge.jpg" />
		</section>
		
		<section id="introduction">
			<p>Talented artists recreate your photo in either oil or pencil sketch.
It’s like commissioning your very own portrait painter.</p>
			<a href="" class="btn">GET STARTED</a>
		</section>
		
		<section id="paintingExample">
			<div id="imageRevealer" class="pic1">
				<div class="changeImage">View Original</div>
				<img src="https://picarto.co/wp-content/themes/picarto/images/gallery/images/wall-art-from-a-photo.jpg" title="Oil | Before - Original Photo" width="920" alt="Personalized wall art" height="568" class="original">
				<img src="https://picarto.co/wp-content/themes/picarto/images/gallery/images/wall-art-from-a-photo-to-painting.jpg" title="Oil | After - Painted with Picarto" width="920" height="568" alt="Personalized art" class="new">
			</div>
			<div class="caption">
				<p>A beautiful Venice scenery done for a globetrotters birthday. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="">
					Read story
					<i class="icon-arrow-right-circle"></i>
				</a>
			</div>
		</section>
		
		<section id="enticeExamples">
			<div class="textSection xlarge pink fadedMemories">
				<div class="innerContent">
					<h3>Faded memories <br> - in vivid colour</h3>
					<p class="mobile">Get your black and white photos <br> painted in color</p>
					<p class="notmobile">Black-and-white snapshots spring into life.</p>
				</div>
			</div>
			<div class="textSection xlarge pink lovedTogether">
				<div class="innerContent">
					<h3>Bring your loved ones together</h3>
					<p>Create timeless images with expert photo editing.</p>
				</div>
			</div>
		</section>
	</div>
	
	<section class="largeImageWithText" id="married" style="background-image:url('/dist/imgs/married.jpg');background-repeat:no-repeat;">
		<div class="content">
			<h3>Just (about) married</h3>
			<p>Captured here is a lovely moment between a bride-to-be and her (other) trusted companion. Elegantly framed, this stunning oil painting now adorns a wall in the newlyweds’ home.</p>
			<a href="">
				Read story
				<i class="icon-arrow-right-circle"></i>
			</a>
		</div>
	</section>
	
	
	<div class="content-container">
		<section id="how-does-it-work">
			<h3>How does it work?</h3>
			<div class="step">
				<p>Upload a photo, pick a size, and choose custom oil painting or pencil sketch.</p>
			</div>
			<div class="step">
				<p>Get your photos edited by graphic designers or add custom wording.</p>
			</div>
			<div class="step">
				<p>Review your artwork before it ships. Deliveries typically arrive within 5 weeks.</p>
			</div>
			<a href="">
				FAQ
				<i class="icon-arrow-right-circle"></i>
			</a>
		</section>
	</div>
	
	<section class="largeImageWithText" id="madewithlove" style="background-image:url('/dist/imgs/made-with-love.jpg');background-repeat:no-repeat;">
		<div class="content">
			<h3>Made with love</h3>
			<p>We are an ethically minded company employing talented artists from around the world, working to improve their quality of life.</p>
		</div>
	</section>
	
</div>