<div id="ordering">
	<div class="content-container">
		<form>
			<div id="order-page">
				<div class="form-group">
					<div id="myPictures" class="dropzone"></div>
	            </div>
				<div class="entry-details">
				
		            <div class="order-summary">
		            	<div class="contain">
			            	<div class="title">
			            		ORDER SUMMARY
			            	</div>
			            	<div class="order-spec" id="medium">
			            		<span class="title">Medium</span>
			            		<span class="value">Oil</span>
			            	</div>
			            	<div class="order-spec" id="colour">
			            		<span class="title">Colour</span>
			            		<span class="value">Colour</span>
			            	</div>
			            	<div class="order-spec" id="size">
			            		<span class="title">Size</span>
			            		<span class="value">16"x20" (40x50cm)</span>
			            	</div>
			            	<div class="order-spec" id="characters">
			            		<span class="title">Characters</span>
			            		<span class="value">1</span>
			            	</div>
			            	<div class="order-spec" id="editing">
			            		<span class="title">Editing</span>
			            		<span class="value">No</span>
			            	</div>
			            	<div class="order-spec" id="total">
			            		<span class="title">Total (AUD)</span>
			            		<span class="value">$2724</span>
			            	</div>
		            	</div>
		            	<div id="checkout">
		            		Checkout
		            		<span class="value"> > </span>
		            	</div>
		            </div>
	            </div>
            </div>
		</form>		
	</div>
</div>
