<div id="order-complete">

	<div class="content-container">
		
		<div id="titles">
			<h1>Congratulations, you made it!</h1>
			<p>An email with your receipt has been sent to you.</p>
		</div>
		
	</div>	

	<div id="happens-now">
		<div class="content-container">
			<div class="left">
				<h2>What happens now?</h2>
				<p>We review the order and contact you if we have any questions. Otherwise, we’ll start with the sketches and go about turning your photo into a stunning painting. In 10 – 15 days we will photograph the finished painting and email it to you for review. You can then ask for any changes. When you have approved the painting we will courier it to you.</p>
			</div>
			
			<div class="right">
				<p>In the meantime...</p>
				<a href="https://web.facebook.com/Picarto-Personalised-Art-394263010767421/" target="_blank">
					<img src="/dist/imgs/facebook.png" alt="Picarto - Facebook" />
					<span>Like us on Facebook</span>
				</a>
			</div>
		</div>
	</div>
	
	<div class="content-container">
		
		<div id="closing-statement">
			<p>Thank you for using Picarto, we think you are awesome and hope you will feel the same way about us!</p>
		</div>
		
	</div>

</div> 