header {
	padding: 25px 45px 9px; 
	position: relative;
    z-index: 999;
    overflow: hidden;
    #logo {
	    float: left;
	    img {
		   height: 39px;
	    }
    }
    nav {
	    float: right;
	    li {
		    display: inline-block;
		    a {
			    font-size: 15px;
			    line-height: 50px;
				margin: 0 10px;
				color: #40393d;
				font-family: $primary-font-bold;
		    }
		    &#orderNow {
			    background: #ffce48;
			    margin-left: 50px;
			    &:hover {
				    background: #fed976;
			    }
			    a {
				    &:hover {
					    text-decoration: none;
				    }
			    }
		    }
	    }
    }
    .popupmenu {
	    display: none;
    }
}
@media (max-width: 767px) { 
	header {
		padding: 0 0;
		border-bottom: 1px solid #e6e6e6;
		margin-bottom: 40px;
		.content-container {
			padding: 0 0;
		}
		#logo {
			top: 5px;
		    left: 10px;
		    position: relative;
		}
		.hamburger {
			display: inline-block;
		    float: right;
		    padding: 11px 15px;
		    width: 55px;
		    .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
			    width: 30px;
		    }
		}
		.navbar {
			max-width: 139px;
			li {
				&#orderNow {
					margin-left: 0px;
				}
			}
		}
		.popupmenu {
			position: fixed;
		    height: 100%;
		    width: 100%;
		    background: #fff;
		    top: 52px;
		    padding-top: 50%;
		    display: none;
		    &.is-active {
			    display: block;
		    }
			#stories,
			#contact {
				display: block;
			}
			#orderNow {
				display: none;
			}
			li {
				text-align: center;
				margin-bottom: 30px;
				a {
					font-size: 24px;
				}
			}
		}
		#stories,
		#contact {
			display: none;
		}
	}	
}