.loading-icon,
div.wpcf7 .ajax-loader {
	visibility: hidden;
	position: relative;
	bottom: 0px; 
	background: url('../imgs/ajax-loader.gif') no-repeat;
	width: 64px;
	height: 64px;
	left: 50%;
	margin-left: -32px;
	margin-bottom: 30px;
}

.ajax-load { 
	display: none;
}

.overlay {
	display: none;
}
.ajax {
	.overlay{
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		z-index: 9;
		background: $midnight-blue;
	}
	.ajax-load {
		display: block;
	    margin: 0 auto;
	    position: relative;
	    z-index: 99;
	    position: absolute;
	    width: 40px;
	    left: 50%;
	    top: 50%;
	    margin: -15% auto 0 -11%;
	    img {
		    width: 100%;
	    }
	}
}

.apply-job,
.browse-jobs .job-pricing,
#accept-job,
#complete-job,
#release-funds {
	&.ajax {
		.loading-icon {
			display: block;
			visibility: visible;
		}
	}
	.loading-icon {
		width: 20px;
		height: 20px;
		position: relative;
		display: none;
		visibility: visible;
		margin: 0 auto;
		text-align: center;
		background: url('../imgs/loading-icon-rolling.gif') no-repeat;
		background-size: 100%;
		left: 0;
		&.show {
			visibility: visible;
			display: block;
		}
	}
}
.remove-application{
	.loading-icon {
		width: 30px;
		height: 30px;
		background-size: 100%;
		display: none;
		visibility: visible;
		margin: 0 auto;
		left: 0;
		&.show {
			visibility: visible;
			display: block;
		}
	}
}

.add-job-favourite,
.already-favourite,
.add-people-favourite,
.already-people-favourite,
#accept-job,
.chat,
&#decline-job {
	.loading-icon {
		visibility: hidden;
		display: none;
	}
	&.ajax {
		.loading-icon {
			visibility: visible!important; 
			display: block!important;
			width: 30px;
		    height: 30px;
		    background-size: 100%;
		    margin: 0 auto;
		    left: initial;
		}
	}
}

.user-profile-img {
	position: relative;
	.loading-icon { 
		visibility: hidden;
		display: none;	
	}
}

.send-job-offer-light,
#accept-job,
#decline-job {
	.loading-icon {
		visibility: hidden;
		display: none;
	}
}