@font-face {
  font-family: 'Glegoo';
    src: url('../fonts/Glegoo-Regular.eot');
	src: url('../fonts/Glegoo-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Glegoo-Regular.woff2') format('woff2'),
		url('../fonts/Glegoo-Regular.woff') format('woff'),
		url('../fonts/Glegoo-Regular.ttf') format('truetype'),
		url('../fonts/Glegoo-Regular.svg#Glegoo-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Glegoo-Bold';
  src:  url('../fonts/Glegoo-Bold.eot');
  src:  url('../fonts/Glegoo-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Glegoo-Bold.woff2') format('woff2'),
		url('../fonts/Glegoo-Bold.woff') format('woff'),
		url('../fonts/Glegoo-Bold.ttf') format('truetype'),
		url('../fonts/Glegoo-Bold.svg#Glegoo-Bold') format('svg');
  font-weight: normal; 
  font-style: normal;
}

$primary-font: "Glegoo", sans-serif;
$primary-font-bold: "Glegoo-Bold", sans-serif;