// Colours
$primary-color: #FF6666;
$secondary-color: #F9C4B7;

$sand: #FAF8E9;
$midnight-blue: #081E44;

/* Hamburger Settings */
$hamburger-layer-width: 30px;
$hamburger-layer-height:5px;  
$hamburger-layer-color: #000; 